[submodule "themes/kiera"]
	path = themes/kiera
	url = https://github.com/goatwu1993/hugo-kiera.git
[submodule "themes/academic"]
	path = themes/academic
	url = https://github.com/goatwu1993/hugo-academic.git
